:root {
  --color-primary:#F0e7df;
  --color-primary-dark:#201f24;
  --color-primary-light:#f2f2f2;
  --color-text-dark:#201f24;
  --color-grey-light-1:#faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-3:#f0eeee;
  --color-grey-light-4:#ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white:#fff;
  --color-red:#c94736;
  --color-green:#277c78;
  --color-cyan:#82c9d7;
  --color-blue:#3f82b2;
  --color-purple:#826cb0;
  --color-blue:#af8aba;
  --color-turquoise:#597c7c;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62, 5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-color: var(--color-primary);
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: auto 8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: var(--color-primary);
}

.content {
  display: flex;
  align-items: center;
}

.sidebar {
  background-color: var(--color-primary-dark);
  flex: 0 0 19%;
  height: 80rem;
}

.dashboard {
  background-color: var(--color-primary);
  height: 80rem;
  padding: 3rem;
}

.balance-expenses-currency-conatiner {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  border-radius: 9px;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-4);
}
.user-nav__icon-box {
  display: flex;
  align-items: center;
  position: relative;
}
.user-nav__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-1);
}
.user-nav__log-out {
  width: 2rem;
  height: 2rem;
  color: var(--color-grey-dark-1);
}
.user-nav__notification {
  font-size: 0.8rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-red);
  color: var(--color-white);
  position: absolute;
  top: 1.8rem;
  right: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.side-nav {
  font-size: 1rem;
  list-style: none;
  margin-top: 3.5rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-grey-dark-3);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.2rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.side-nav__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  fill: currentColor;
}

.account-summary {
  display: flex;
  gap: 3rem;
}
.account-summary__box {
  width: 15rem;
  height: 7rem;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-white);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
}
.account-summary__amount {
  font-size: 1.6rem;
  color: var(--color-grey-dark-1);
  font-weight: 600;
}

.current-balance {
  margin-top: 3rem;
  padding: 2rem 3rem;
  width: 40rem;
  height: 15rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: var(--color-white);
  border-radius: 12px;
}
.current-balance__total {
  display: flex;
  gap: 3.5rem;
}
.current-balance__total--value {
  color: var(--color-grey-dark-1);
  font-weight: 600;
}
.current-balance__container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.current-balance__container-total {
  padding: 1rem 4rem 2rem 0;
  background-color: var(--color-primary);
  border-radius: 9px;
}
.current-balance__label {
  margin-bottom: 1.5rem;
  color: var(--color-grey-dark-1);
}
.current-balance__currency-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.current-balance__value {
  color: var(--color-grey-dark-1);
  font-weight: 500;
}
.current-balance__currency-1 {
  border-left: 4px solid #277C78;
  padding-left: 0.3rem;
}
.current-balance__currency-2 {
  border-left: 4px solid #93674F;
  padding-left: 0.3rem;
}
.current-balance__currency-3 {
  border-left: 4px solid #82C9D7;
  padding-left: 0.2rem;
}
.current-balance__currency-4 {
  border-left: 4px solid #F2CDAC;
  padding-left: 0.3rem;
}
.current-balance__icon {
  width: 2rem;
  height: 2rem;
}

.expenses__container {
  width: 40rem;
  height: 25rem;
  border-radius: 3%;
  background-color: var(--color-white);
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.expenses__container__pie {
  margin: 5vmin;
  border-radius: 50%;
  width: 40vmin;
  height: 40vmin;
  background: conic-gradient(#277C78 0% 60%, #93674F 60% 80%, #82C9D7 80% 90%, #F2CDAC 90% 100%);
}
.expenses__container__label {
  margin-bottom: 2rem;
  color: var(--color-grey-dark-1);
}

.currency-rate {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 3rem;
}
.currency-rate .flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 15px;
  margin: 2rem;
}
.currency-rate__content--1 {
  width: 25rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 1.1rem;
}
.currency-rate__container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.currency-rate__container img {
  width: 3.5rem;
  height: 3.5rem;
}
.currency-rate__container div {
  display: flex;
  flex-direction: column;
}
.currency-rate__country {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0.5rem;
  color: var(--color-red);
}
.currency-rate__label {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  align-self: flex-end;
}
.currency-rate__value {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-text-dark);
}
.currency-rate__type {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  align-self: flex-end;
}
.currency-rate__deal__type {
  display: flex;
  gap: 1rem;
}
.currency-rate__deal__type--label {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-grey-dark-3);
}
.currency-rate__deal__type--value {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text-dark);
}
.currency-rate__details {
  display: flex;
  gap: 1.2rem;
}
.currency-rate__deal--type {
  display: flex;
  gap: 0.5rem;
}

/*
.transactions__container {
  max-width: 60rem;
  margin: 4rem auto;

  .balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__label{
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: -0.2rem;

    }
    &__date{
      font-size: 1.4rem;

    }
    &__value{
      font-size: 4.5rem;
      font-weight: 400;

    }
  }

  .movements {
    grid-row: 2 / span 3;
    background-color:var(--color-white);
    border-radius: 1rem;

    &__row{
      padding: 2.25rem 4rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
    }
    &__type{
      font-size: 1.1rem;
      font-weight: 500;
      border-radius: 10rem;
      margin-right: 2rem
    }

    &__value{
      font-size: 1.7rem;

      margin-left: auto;
    }
    &__icon{
      background-color:var(--color-white);
      width:2rem;
      height:2rem;

      &--1{
      fill: var(--color-cyan);
      }
      &--2{
        fill: var(--color-green);
      }
      &--3{
        fill: var(--color-red);
      }
      &--4{
        fill: var(--color-purple);
      }
      &--5{
        fill: var(--color-turquoise);
      }
    }
    &__box-1{
    display:flex;
    align-items:center;
    gap: .5rem;
    }
    &__box-2{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    }
  }
}
.transaction__date--box{
  margin: 2.5rem 0 .3rem;
}

*//*# sourceMappingURL=main.css.map */